<!-- index.html -->
<DOCTYPE html>

<!-- assign our angular module -->
<html >

<head>
<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- optimize mobile viewport -->

	<title>Node/Angular Todo app</title>

	<script src="script.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
	    html                    { overflow-y:scroll; }
	    body                    { padding-top:50px; }
	    #todo-list              { margin-bottom:30px; }
	</style>
	
	<link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.8/angular.js"></script><!-- load angular -->
    <script src="script.js"></script>
</head>

<body ng-app="Todo"><!-- assign angular model -->
    <div class="container" ng-controller="TodoCtrl"><!-- set controller -->
         <!-- todo counter  -->
        <div class="text-center">
            <h2>Todo Task List <span class="label label-info">{{ todos.length }}</span></h2>
        </div>

	<ul class="todo-list" ng-repeat="todo in todos track by $index"><!-- todo list -->
	        <li>
	          <span>{{ todo }}</span>
	          <button class="bt bt-achieve" ng-click="done(todo)">Task completed</button>
	        </li>
      	</ul>

	<ul class="add-todo">
		<li>
		  <input type="text" class="txt" placeholder="Add a new task here" ng-model="newTodo" ng-keyup="add($event)"/><!-- new todos -->
		</li>
	</ul>
  
	</div>

</body>

</html>
