
html{
 overflow-y:scroll; 
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  padding-top:12px;
}

.bt {
  display: inline-block;
  min-width: 140px;
  font-family: "museo-sans-condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  background: #dc5925;
  cursor: pointer;
  width: auto;
  border: 1px solid #ccc;
  outline: none;
  border-left:none;
}

.bt.bt-achieve:hover {
  color: #444;
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ccc;
  width: 90%;
  font-size: 16px;
  position: relative;
  color:#444;
}

.text-center{
  padding-bottom:8px;
}

.text-center h2{
  font-size: 36px;
  color: #999;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.add-todo .txt {
  padding: 10px;
}

.todo-list, 
.add-todo {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ccc;
  width: 90%;
  position: relative;
  cursor: pointer;
  background-color: #efefef;
  min-height:40px;
}

.todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.todo-list li .bt:hover {
  width: auto;
}

.label {
  display: inline;
  padding: 8px 14px;
  font-size: 80%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 6px;
}

.label-info {
  background-color: #335877;
  font-family: "museo-sans-condensed", Arial, Helvetica, sans-serif;
}